

body{
    margin-left:5%;
    margin-right: 5%;
    background-image: url('./assets/images/background-sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
}

.background{
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 20px;
    margin-top:10%;
    color:rgb(48, 48, 48);
}

.place{
    text-align: center;
}

.present-time{
    text-align: center;
}

.temperature{
font-size: 50px;
text-align: center;
}

.wind{
text-align: center;
}